.container{
  display: inline-table;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 65px 65px 65px 65px 65px; */
 text-align: center;
 transform: rotate(-3deg);

}

#div12 {
  background-color: white!important;
  opacity: 100%!important;
  pointer-events: none; 
  text-decoration: none;
}

.grid{
  border: 2px solid;
  border-color: rgb(203, 234, 255);
  font-size: calc(1px + 2vmin);
  cursor: pointer;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  padding: 0px!important;


  
}

.p{
  position: sticky;
  bottom: 100%;
  left: 100%;
  font-weight: 400;
  font-size: smaller;
  
}





.center {
  margin-left: auto;
  margin-right: auto;
  
}

body{
  text-align: center;
  align-items: center;
  margin: 10px;
  background-image: linear-gradient(white, rgb(57, 7, 70));
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-left: auto;
  margin-right: auto;
}
.clicked{
  background-color: rgb(255, 252, 65);
  text-decoration: line-through;
  animation: clicked 2s;
  opacity: 25%;
}
@keyframes clicked {
  0%{opacity: 100%;}
  50%{opacity: 50%;}
  100%{opacity: 25%;}
  
}


canvas {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  margin: 0;
  pointer-events: none;
}

button{
 height: 40px;
  width: 160px;
  border-radius: 24px!important;
  border: 2px solid rgb(84, 17, 146)!important;
  margin: 5px!important;
  background-color: rgb(84, 17, 146)!important;
}



.App {
  font-family: sans-serif;
  text-align: center;
}



.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  min-height: 40px;
  font-weight: bold;
  font-size: 20px;

  border: 4px saddlebrown dashed;
  border-radius: 10px;

  cursor: pointer;

}



